{{#partial "content"}}
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <form action=""method="post">
                    <div class="form-group">
                        <label for="FirmName">Firm name</label>
                        <input type="text" class="form-control" id="firmName" name="firmName" placeholder="Enter firm name">
                    </div>
                    <div class="form-group">
                        <label for="estate">Location</label>
                        <input type="text" class="form-control" id="estate" name="estate" placeholder="Enter location">
                    </div>
                    <div class="form-group">
                        <label for="feeCharge">Garbage collection fee</label>
                        <input type="text" class="form-control" id="feeCharge" name="feeCharge" placeholder="Enter garbage collection fee">
                    </div>
                    <div class="form-group">
                        <label for="operationDay">Day of garbage collection</label>
                        <input type="text" class="form-control" id="operationDay"name="operationDay" placeholder="Enter day of garbage collection">
                    </div>
                    <div class="form-group">
                        <label for="disposalMode">Mode of disposal</label>
                        <input type="text" class="form-control" id="disposalMode" name="disposalMode" placeholder="Enter firm's disposal mode of garbage">
                    </div>
                    <div class="form-group">
                        <label for="recylclingSite">Recycling site</label>
                        <input type="text" class="form-control" id="recyclingSite"  placeholder="Enter firm's recycling site">
                    </div>
                    <div class="form-group">
                        <label for="customersNumber">Number of customers</label>
                        <input type="text" class="form-control" id="customersNumber"  placeholder="Enter the current number of customers">
                    </div>
                    <button class="btn btn-success">Add</button>
                </form>
            </div>
            <div class="col-md-5">

            </div>
        </div>
    </div>
{{/partial}}
{{>layout.hbs}}